<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Rock Dog</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1 style="text-align:center">Meet the cutest dog in the world!</h1>
	<img th:src=@{rocky1.jpg} alt="black and tan dog" width="350"
		height="425"/>
	
	<img th:src=@{rocky2.jpg} alt="black and tan dog" width="350"
		height="425"/>
	
	<img th:src=@{rocky3.jpg} alt="black and tan dog" width="350"
		height="425"/>
</body>
</html>